---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<menu-overlay>
    <a class="menu-title" href="/">{title}</a>
    <ul class="menu-list">
        <li><a class="page-link" href="/">About</a></li>
        <li><a class="page-link" href="/res">Resume</a></li>
        <li><a class="page-link" target="_blank" href="https://instagram.com/radratat">Instagram</a></li>
        <li><a class="page-link" target="_blank" href="https://www.linkedin.com/in/keegan-berry">LinkedIn</a></li>
    </ul>
    <a href="#" class="menu-button">menu</a>
    <a href="#" class="menu-close-button">close</a>
</menu-overlay>

<script>
    // Define the behaviour for our new type of HTML element.
    class MenuOverlay extends HTMLElement {
      constructor() {
        super();
  
        const _this = this;
        const menuButtons = [...this.querySelectorAll('.menu-button, .menu-close-button')];
        const menuButtonClickedClass = 'menu-overlay-clicked';
        let clicked = false;
        
        menuButtons?.map((btn: Element) => {
            btn?.addEventListener('click', () => { //e: MouseEvent) => {
                // e.preventDefault();
                if (clicked === true) {
                    clicked = false;
                    _this.classList.remove(menuButtonClickedClass);
                }
                else {
                    clicked = true;
                    _this.classList.add(menuButtonClickedClass);
                }
            });
        });
      }
    }
  
    // Tell the browser to use our AstroHeart class for <astro-heart> elements.
    customElements.define('menu-overlay', MenuOverlay);
  </script>

<style>
    menu-overlay {
        background: #1C9957;
        margin: auto;
        /* padding: 1rem; */
        width: 600px;
        max-width: calc(100% - 2rem);
        color: #333;
        font-size: 16px;
        line-height: 1;
        min-height: 20px;
        display: block;
        transition: all 0.3s;
        padding-bottom: 60px;
        padding-top: 20px;
        line-height: 0;
        margin-top: -4em;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    @media (max-width: 700px) {
        menu-overlay  {
            width: 100%;
            max-width: 100%;
        }
    }

    menu-overlay .menu-list {
        list-style-type: none;
        transition: all 0.3s;
    }
    /* menu-overlay:hover {
        line-height: 1.6;
        margin-top: 0;
    } */
    menu-overlay.menu-overlay-clicked {
        line-height: 1.6;
        margin-top: 0;
    }

    .menu-title {
        vertical-align: middle;
        position: absolute;
        left: 14px;
        bottom: 18px;
        line-height: 1;
        color: #fff;
        display: block;
        transition: opacity 0.3s;
        opacity: 1;
        text-decoration: none;
    }

    menu-overlay.menu-overlay-clicked .menu-title {
        opacity: 0;
    }

    .menu-button {
        width: 20px;
        height: 20px;
        padding: 0;
        overflow: hidden;
        background-position: center center;
        background-image: url('/hamburger.svg');
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -99999px;
        vertical-align: middle;
        margin-top: -2px;
        position: absolute;
        right: 14px;
        bottom: 16px;
        line-height: 1;
    }

    .menu-close-button {
        width: 20px;
        height: 20px;
        padding: 0;
        overflow: hidden;
        background-position: center center;
        background-image: url('/close-x.svg');
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -99999px;
        margin-top: -2px;
        position: absolute;
        right: 14px;
        top: 16px;
        line-height: 1;
        color: #fff;
        text-decoration: none;
    }

    .menu-list a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;

        font-family: "M PLUS 1 Code", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    .menu-list a:hover {
    /* color: #cdffbd; */
    background-color: #000;
    }

    /* .menu-list .page-link {
    background-color: transparent;
    border: 0;
    } */

    /* .menu-list .page-link:hover {
    background-color: transparent;
    } */
</style>